<% if current_user.authorized_as?(:planner) %>
	<% if project.is_started %>
		<% if project.activities.size == 0 %>
			<%= link_to cancel_start_project_project_url(project), {method: :put, class: "text-success", remote: true, title: "ยังไม่มีการรายงานผล"} do %>
				<i class="fa fa-2x fa-check-circle"></i>
			<% end %>
		<% else %>
			<%= project.is_started ? "<span class='text-success' title='มีการรายงานผลแล้ว'><i class='fa fa-2x fa-check-circle'></i></span>".html_safe : "" %>
		<% end %>
	<% else %>
		<%= link_to start_project_project_url(project), {method: :put, class: "text-danger", remote: true} do %>
			<i class="fa fa-2x fa-circle"></i>
		<% end %>
	<% end %>
<% else %>
	<%= project.is_started ? "<span class='text-success'><i class='fa fa-2x fa-check-circle'></i></span>".html_safe : "" %>
<% end %>