<tr class="nested-fields">
    <td>
        <%= f.input_field :name, size: 20 %>
    </td>
    <% unless action_name == "show" %>
        <td>
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
        </td>
    <% end %>
</tr>