<% if can?(:index_select, UserGroup) %>
    <td class="center">
    </td>
<% end %>
<td nowrap>     
    <% params[:q].each do |k,v| %>
        <%= hidden_field_tag "q[#{k}]", v %>
    <% end unless params[:q].blank? %>
    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
    <%= render partial: "/appui_scaffold/index_row_form_actions", locals: {
        resource_class: UserGroup, resource: @user_group,
        resources_url: admin_user_groups_path(q: params[:q], page: params[:page]),
        resource_url: admin_user_group_path(@user_group, q: params[:q], page: params[:page]),
        edit_resource_url: edit_admin_user_group_path(@user_group, q: params[:q], page: params[:page])
    } %>
</td>




<td><%= text_field :user_group, :name, {style: 'width:100%;', class: 'form-control'} %></td>


