$("#job_development_name").val("");
$("#job_development_duration").val("");
$("#job_development_unit").val("");

// remove all options
$("#job_development_job_template_id").empty();
// insert blank option
$("#job_development_job_template_id").append($('<option></option>'));
// insert new options
<% if @job_template_group %>
	<% @job_template_group.job_templates.all_job_developments.sort_by {|a| a.name}.each do |job_template| %>
		$("#job_development_job_template_id").append($('<option></option>').attr('value', <%= job_template.id %>).text('<%= job_template.to_s %>'));
	<% end %>
<% end %>
// chosen update
$("#job_development_job_template_id").trigger('chosen:updated');
