<div class="jumbotron jumbotron6">
	<h1>Welcome 2 <strong>ORB</strong></h1>
	<p class="lead">
		ORB &#8212; fully responsive admin template powered by BootStrap 3 Framework. 
  		ORB is packed with tons of accurately styled and predefined components, plugins and features that can be used in 
  		creation of admin dashboards, CRM and CMS panels. 
	</p>
	<small>ORB has own premium and unique features, such as powerfull <a href="admin-widgets.html">ORB Widgets</a>, <a href="admin-portlets.html">Portlets Gallery</a>, <a href="admin-inbox.html">Prototyped Inbox</a>, <a href="admin-forms-validation.html">Form Validation and AJAX Processing</a>, <a href="admin-animation.html">revised Bootstrap Modal and Popover</a> classes and much more. ORB is also bundled with 6 predefined styles.</small>
	<p><a href="http://themeforest.net/item/orb-powerful-admin-dashboard/7758614" class="btn margin-top btn-danger"><i class="fa fa-shopping-cart"></i> Buy on Themeforest</a></p>
</div>