<!-- replace 'parent_object' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_problem_suggesstions_attributes_#{f_index}".to_sym
	project_select_id = "parent_object_problem_suggesstions_attributes_#{f_index}_project_id".to_sym
%> 
<tr class="nested-fields">
    <td class="text-top">
        <%= f.input :sorting, wrapper: :nested_form %>
    </td>
    <td class="text-top">
        <%= f.input :description, wrapper: :nested_form %>
    </td>
    <% unless action_name == "show" %>
        <td class="text-top">
            <%= link_to_remove_association f, class: "btn btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_problem_suggesstions_attributes_<%= f.index %>_project").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>