<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
	<div class="cbp-hsinner hide">
		<ul class="cbp-hsmenu">
			<li> 
				<a href="#"><span class="icon-bar"></span></a>
				<ul class="cbp-hssubmenu">
					<li>
						<a href="#">
							<div class="sparkle-dropdown">
								<span class="inlinebar">10,8,8,7,8,9,7,8,10,9,7,5</span>
								<p class="sparkle-name">project income</p>
								<p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="sparkle-dropdown">
								<span class="linechart">5,6,7,9,9,5,3,2,9,4,6,7</span>
								<p class="sparkle-name">site traffic</p>
								<p class="sparkle-amount">122541 <i class="fa fa-chevron-circle-down"></i></p>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="sparkle-dropdown">
								<span class="simpleline">9,6,7,9,3,5,7,2,1,8,6,7</span>
								<p class="sparkle-name">Processes</p>
								<p class="sparkle-amount">890 <i class="fa fa-plus-circle"></i></p>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="sparkle-dropdown">
								<span class="inlinebar">10,8,8,7,8,9,7,8,10,9,7,5</span>
								<p class="sparkle-name">orders</p>
								<p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="sparkle-dropdown">
								<span class="piechart">1,2,3</span>
								<p class="sparkle-name">active/new</p>
								<p class="sparkle-amount">500/200 <i class="fa fa-chevron-circle-up"></i></p>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="sparkle-dropdown">
								<span class="stackedbar">3:6,2:8,8:4,5:8,3:6,9:4,8:1,5:7,4:8,9:5,3:5</span>
								<p class="sparkle-name">fault/success</p>
								<p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
							</div>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>