$("#project_strategy_id").val("<%= @strategy ? @strategy.id : "" %>");
$("#project_strategy_id").trigger('chosen:updated');

// remove all options
$("#project_tactic_id").empty();
// insert blank option
$("#project_tactic_id").append($('<option></option>'));
// insert new options
<% if @strategy %>
	<% @strategy.tactics.sort_by {|a| a.sorting}.each do |tactic| %>
		$("#project_tactic_id").append($('<option></option>').attr('value', <%= tactic.id %>).text('<%= tactic.to_s %>'));
	<% end %>
<% end %>
// chosen update
$("#project_tactic_id").trigger('chosen:updated');
