<div id="activity_fields">
    <%= f.simple_fields_for :activities do |activity| %>
        <%= render '/projects/activities/nested_fields', :f => activity %>
    <% end %>
</div>
<% unless action_name == "show" %>
    <div class="clearfix">
        <%= link_to_add_association f, :activities, partial: "/projects/activities/nested_fields", class: "btn btn-default col-xs-12",
        "data-association-insertion-node" => "#activity_fields",
        "data-association-insertion-method" => :append do %>
        <i class='fa fa-plus'></i>
        <% end %>
    </div>
<% end %>
<script type="text/javascript">
    jQuery(function($) {
        $('#activity_fields').on('cocoon:after-insert', function(e, insertedItem) {
            init_input_date_picker();
            init_input_time_picker();
            init_input_datetime_picker();
        });
    });
</script>