<div class="page-header">
	<h1><%= KkuStrategic.model_name.human %><small><%= action_name %></small></h1>
</div>
			      
<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<%= render partial: "form" %>
	</div>
</div>
<!-- /Widgets Row End Grid-->