<span id="project_image_fields" class="pull-left">
    <%= f.simple_fields_for :project_images do |project_image| %>
        <%= render '/projects/project_images/nested_fields', :f => project_image %>
    <% end %>
</span>
<% unless action_name == "show" %>
	<span class="pull-left">
	    <div class="nested-fields pull-left margin-right-10 margin-bottom-10 padding-5 form-control" style="width:165px; height:230px;">
	        <%= link_to_add_association f, :project_images, partial: "/projects/project_images/nested_fields", class: "col-xs-12 btn btn-default", style: "height:215px;", 
	        "data-association-insertion-node" => "#project_image_fields",
	        "data-association-insertion-method" => :append do %>
	        <i class='fa fa-plus' style="margin-top:90px;"></i>
	        <% end %>
	    </div>
    </span>
<% end %>
<div class="clearfix"></div>
<script type="text/javascript">
    jQuery(function($) {
        $('#project_image_fields').on('cocoon:after-insert', function(e, insertedItem) {
            init_input_date_picker();
            init_input_time_picker();
            init_input_datetime_picker();
        });
    });
</script>